<div class="container mt-5">
  <h1>Contact Us</h1>

  <form id="contactForm">
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Enter your name"
      required
    />

    <input
      type="email"
      id="email"
      name="email"
      placeholder="Enter your Email"
      required
    />

    <textarea
      id="message"
      name="message"
      rows="4"
      placeholder="Adress"
      required
    ></textarea>

    <button type="submit">Add Contact</button>
  </form>
</div>
