<nav class="navbar">
  <div id="navigation" class="container-fluid">
    <img
      src="../../assets/Group (5).svg"
      alt="Logo"
      width="30"
      height="24"
      class="d-inline-block align-text-top"
    />

    <div class="links">
      <a class="navbar-brand" routerLink="">home </a>
      <a class="navbar-brand" routerLink="product">product </a>
      <a class="navbar-brand" routerLink="login">login </a>
      <a class="navbar-brand" routerLink="contact">Contact </a>
      <a class="navbar-brand" routerLink="add-contact">add-contact </a>
      <a class="navbar-brand" routerLink="about">about </a>
      <a class="navbar-brand" [routerLink]="['/details','BEINEX']" routerLinkActive="activepage">Details</a>
    </div>
  </div>
</nav>
