<div class="container">
  <h3>Just Don't Wait!Let's Connect.</h3>
  <p>
    No matter what industry your business is in, we are here to provide you with
    incomparable services that fit your needs perfectly. Feel free to connect
    with us and have a chat with our team.
    <br />
    Happy to be of assistance!
  </p>

{{connect}}


  <div class="social">
    <h6>Click to Connect:</h6>
    <a href="https://www.facebook.com/">
      <img
        width="150px"
        src="https://cdn4.iconfinder.com/data/icons/social-icon-4/842/facebook-512.png"
        alt=""
    /></a>
    <a href="https://www.instagram.com/">
      <img
        width="150px"
        src="https://st2.depositphotos.com/17902080/42732/v/450/depositphotos_427329794-stock-illustration-instagram-circle-button-multicolor-logo.jpg"
        alt=""
    /></a>
    <a href="https://twitter.com/">
      <img
        width="160px"
        src="https://png.pngtree.com/png-vector/20220612/ourmid/pngtree-twitter-icon-in-simple-style-on-a-white-background-png-image_4998634.png"
        alt=""
    /></a>
  </div>
</div>
