<div class="container">
  <h1>BEINEX</h1>
  <p>
    Beinex is a multinational firm exploring the endless possibilities of data
    for Cloud, Analytics, Artificial Intelligence, Machine Learning, and
    Automation. In effect, Beinex architects, guides, leads, and implements
    solutions in Analytics, AI, and ML for the spheres of Digital
    Transformation, GRC, and Risk & Audit Transformation. Present in three
    continents, Beinex enables its clients to analyse data, mitigate risks,
    identify opportunities and automate processes.
  </p>

  <button
    type="button"
    routerLink="about"
    class="btn btn-success mt-4"
    style="
      --bs-btn-padding-y: 0.25rem;
      --bs-btn-padding-x: 0.5rem;
      --bs-btn-font-size: 0.75rem;
    "
  >
    About Us
  </button>
</div>
